.container {
  height: 100vh;
  background: linear-gradient(99.46deg, #075985 0%, #7c8f61 80.21%, #f9c83a 100%);
  color: white;
}

.hero {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.image {
  width: 25rem;
  height: 25rem;
  min-width: 25rem;
  overflow: hidden;
  border: 0.5rem solid white;
  transform: rotate(-10deg);
  border-radius: 150px 150px 200px 20px;
}

.image > img {
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.greeting {
  font-size: 72px;
  margin-bottom: 1rem;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 8rem;
  margin-bottom: 2rem;
}

.firstname,
.lastname {
  font-size: 9rem;
}

.firstname {
  font-weight: 700;
}

.lastname {
  font-weight: 400;
  align-self: flex-end;
}

.text {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.rrss {
  display: flex;
  gap: 3rem;
}

.rrss img {
  width: 4rem;
}

.sectioncontainer {
  background-color: #0a0a;
  max-width: 1200px;
  margin: 0 auto;
}
